PORT=3000
FIREBASE_API_KEY=AIzaSyDD3ouvrsyqwxorPWlQdKPgZACjUO5TiWs
FIREBASE_AUTH_DOMAIN=ali-elsewedy-media.firebaseapp.com
FIREBASE_PROJECT_ID=ali-elsewedy-media
FIREBASE_STORAGE_BUCKET=ali-elsewedy-media.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=721258793080
FIREBASE_APP_ID=1:721258793080:web:968f77abee49198fa3c58d
FIREBASE_MEASUREMENT_ID=G-1CNDBSB0P4
